body {
   font-family: Helvetica, Arial, sans-serif;
   margin: 0px;
   padding: 0px;
   font-size: 18px;
   text-align: justify; 
}

header {
   padding: 10px;
}

.titlename {
   font-size: 100px;
   font-style: italic;
   font-weight: bold;
   color: lightgray;
}

.container {
   display: flex;
   /*height: 100vh;*/
}

.menu {
   text-align: left; 
   padding: 10px;
   width: 20%;
   /*border-right: 1px solid #ddd;*/
}

.main {
   padding: 10px;
   width: 60%;
   background-color: #faebd7;
   /*background-color: #f4f4f4;*/
   /*border-right: 1px solid #ddd;*/
}

.notes {
   padding: 10px;
   margin-left: 20px;
}

.menu a {
   text-decoration: none;
   /* background-color: LightGray;*/
   border: 1px solid white;
   color: black;
   width: 300px;
   display: block;
}

.menu li a {
   text-decoration: none;
   /* background-color: LightGray;*/
   border: 1px solid white;
   color: black;
   width: 200px;
   display: block;
   font-style: italic;
}

.menu a:hover {
   background-color: black;
   color: white;
}

.warning {
   font-weight: bold;
}

.math {
   font-family:times;
   padding:0 .1em;
   font-size: 1.2em;
   font-style: italic;
}

figcaption {
   font-family:times;
   color: gray;
   font-size: 18px;
}

h1 {
   margin-top: 10px;
   font-size: 28px;
   color: red;
}

h2 {
   margin-top: 10px;
   font-size: 24px;
   color: black;
}

h3 {
   margin-top: 10px;
   font-size: 18px;
   color: black;
   font-style: italic;
}

h4 {
   margin-top: 5px;
   font-size: 18px;
   color: black;
}

pre {
   color: gray;
   white-space: pre;       /* ou pre-nowrap */
   overflow-x: auto;       /* barre de défilement horizontale si nécessaire */
}

code {
   color: crimson;
}

samp {
   font-style: italic;
   color: crimson;
}

ul ul {
   font-size: 10px;
   color: gray;
}

table, tr {
   text-align: left; 
   border: 1px solid black;
   border-collapse: collapse;
}

th, td {
   font-size: 12px;
   padding: 6px;
}

caption {
   font-style: italic;
   background-color: gray;
   color: white;
}

footer {
   text-align: center;
   color: gray;
   font-style: italic;
}
